@page
@model IndexModel
@{
    ViewData["Title"] = "Markdown rendering with Beautifying";
}
@section scripts {
<script type="text/javascript" src="~/lib/showdown/showdown.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/index.js" asp-append-version="true"></script>
}

<div>
    <h2>Input</h2>
    <p>
        <textarea id="inputTextArea" rows="35" max-rows="60" style="width:100%">
# Titre
Une petite question ?
10 €
100 €
1000 €
10000 €
100000 €
1000000 €
Voici 10€
Voici 100€
Voici 1000€
Voici 10000€
Voici 100000€
Voici 1000000€
Avec virgule : 1234,4568 € ou 12345,45678 €
Avec point : 1234.4568 € ou 12345.45678 €
Nombre contenant déjà un séparateur nbsp : 1&nbsp;234 €
Nombre contenant déjà deux séparateurs nbsp : 1&nbsp000&nbsp;234 €
Nombre contenant déjà un séparateur espace : 1 234 €
Nombre contenant déjà deux séparateurs espace : 1 000 234 €
Plusieurs nombres dans la même ligne : 1000 ml, 10000 ml, 100000 ml, 1000000 ml, 10000000 ml
https://www.google.com/search?q=%22javascript%22&sxsrf=ALiCzsbRIobu3xxaBH8wJBdwxbHcvE21KQ%3A1654379567179&ei=L9S
Exclamons-nous !
En 2019, cet État comptait 6 millions d'habitants, pour une surface d'environ 180000 km², soit une densité de 34 habitants par km² (la moyenne étant de 33 h/km²).
Sportif en plein effort : 100 l/min. Bouteille de 5 l gonflée à 200 bars débitant 15 l/min.
Son nom vient de sa cylindrée de 12 x 250 cm³ (3 L)
- 1000000 mm³
- 1000 cm³
- 1 dm³
- 0,001 m³

L'Arkansas a pour capitale et ville la plus peuplée Little Rock (200000 habitants).
L'eau bout à 100 °C.
Un taux de chomage de 10 %.
Et voici un nombre négatif : -382093890,8909.
L'auteur est né en 1970.
Grosse inquiétude sur le réchauffement climatique vers 2100.
Une vitesse de 240 000 km/h.
Une vitesse de 240000 km/h.
        </textarea>
    </p>
    <p>
        <button onclick="buttonClicked();">Render</button>
    </p>

    <h2>Rendered</h2>
    <p>
        <div id="renderedDiv" style="border-style:solid;border-width:1px;"></div>
    </p>
</div>
